* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1080px;
    height: 100%;
    margin:auto;
}
/* header */
/* header-top */
#header-top {
    background-color: #F5F8FA;
    border-bottom: 1px solid grey;
    width: 100%;
}

.top-left {
    width: 50%;
    float: left;
}

.top-left ul {
    margin: 25px 0px;
}

.top-left ul li {
    display: inline;
    font-size: 15px;
}

.top-left ul li i {
    font-size: 20px;
}

#english {
    margin: 0 15px;
}

#sort {
    color: #7b97b5;
}

#language {
    color: #33475b;
    text-decoration: none;
    padding-right: 15px;
    border-right: 2px solid #CBD6E2;
}

#contact {
    color: #33475b;
    text-decoration: none;
    margin-left: 15px;
}

.top-right ul {
    margin: 25px 0px;
    float: right;
    margin-left: 30px;
    list-style: none;
}

.top-right ul li {
    float: left;
    margin-left: 15px;
}

.top-right ul li a {
    text-decoration: none;
}

#search {
    color: #02a5bd;
}

#log-in {
    color: #ff7a59;
    background-color: white;
    padding: 11px 35px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 13px;
    transition: background 0.5s;
    margin-left: 10px;
}

#log-in:hover {
    background: #fff1ee;
}

#get {
    color: white;
    background-color: #ff7a59;
    padding: 11px 20px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 13px;
    transition: background-color 0.5s;
}

#get:hover {
    background-color: rgba(255, 122, 89, 0.5);
}
/* /header-top */
/* header-bottom */

.header-bottom-left {
    width: 40%;
    float: left
}

#logo img {
    margin: 30px 0px;
}

.header-bottom-right {
    float: left
}

#navigation {
    margin-top: 40px;
}

#navigation li {
    font-weight: bold;
    display: inline;
    padding: 20px;
    font-size: 16px;
}

#navigation li a {
    color: #33475b;
    text-decoration: none;
}

#navigation li i {
    font-size: 20px;
    margin-left: 12px;
}
/* /header bottom */
/* /header */
.jumbotron {
    background-color: #fff3ee;
    border-bottom: 2px solid black;
    height: 600px;
}

.jumbotron-top {
    width: 40%;
    color: #33475b;
}

h2 {
    font-size: 45px;
    font-weight: bold;
    padding-top: 85px;
}

#marketing {
    font-size: 18px;
    padding-top: 20px;
    line-height: 150%;
    padding-bottom: 40px;
}

#big-get {
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    padding: 23px 34px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 17px;
    transition: background-color 0.5s;
}

#big-get:hover {
    background-color: rgba(255, 122, 89, 0.5);
}

.jumbotron-bottom {
    width: 20%;
}

#free {
    font-size: 13px;
    margin-top: 50px;
}
