* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    line-height: 150%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1080px;
    height: 100%;
    margin:auto;
}
/* header */
/* header-top */
.header-top {
    background-color: #F5F8FA;
    border-bottom: 1px solid grey;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.top-left {
    width: 50%;
    float: left;
}

.top-left ul {
    margin: 25px 0px;
}

.top-left ul li {
    display: inline;
    font-size: 15px;
}

.top-left ul li i {
    font-size: 20px;
}

#english {
    margin: 0 15px;
}

#sort {
    color: #7b97b5;
}

#language {
    color: #33475b;
    text-decoration: none;
    padding-right: 15px;
    border-right: 2px solid #CBD6E2;
}

#contact {
    color: #33475b;
    text-decoration: none;
    margin-left: 15px;
}

.top-right ul {
    margin: 25px 0px;
    float: right;
    margin-left: 30px;
    list-style: none;
}

.top-right ul li {
    float: left;
    margin-left: 15px;
}

.top-right ul li a {
    text-decoration: none;
}

#search {
    color: #02a5bd;
}

#log-in {
    color: #ff7a59;
    background-color: white;
    padding: 11px 35px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 13px;
    transition: background 0.5s;
    margin-left: 10px;
}

#log-in:hover {
    background: #fff1ee;
}

#get {
    color: white;
    background-color: #ff7a59;
    padding: 11px 20px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 13px;
    transition: background-color 0.5s;
}

#get:hover {
    background-color: rgba(255, 122, 89, 0.5);
}
/* /header-top */
/* header-bottom */
.header-bottom {
    padding-top: 74px;
}

.header-bottom-left {
    width: 40%;
    float: left
}

#logo img {
    margin: 30px 0px;
}

.header-bottom-right {
    float: left
}

#navigation {
    margin-top: 40px;
}

#navigation li {
    font-weight: bold;
    display: inline;
    padding: 20px;
    font-size: 16px;
}

#navigation li a {
    color: #33475b;
    text-decoration: none;
}

#navigation li i {
    font-size: 20px;
    margin-left: 12px;
}
/* /header bottom */
/* /header */
/* jumbotron*/
.jumbotron {
    background-image: url(images/background.png);
    background-size: cover;
    border-bottom: 2px solid black;
}

.jumbotron-top {
    width: 40%;
    color: #33475b;
}

h2 {
    font-size: 45px;
    font-weight: bold;
    padding-top: 85px;
}

#marketing {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#big-get {
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    padding: 23px 34px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 17px;
    transition: background-color 0.5s;
}

#big-get:hover {
    background-color: rgba(255, 122, 89, 0.5);
}

.jumbotron-bottom {
    width: 20%;
}

#free {
    font-size: 13px;
    margin-top: 70px;
    margin-bottom: 230px;
}
/* /jumbotron */
/* content */
.content {
    background-color: #F5F8FA;
}
/* content top */
/* powerful */
.content-top div {
    float: left;
}

.powerful {
    width: 33%
}

.powerful h2 {
    font-size: 35px;
    color: #33475b;
}

.powerful p {
    margin-top: 25px;
    color: #33475b;
    font-size: 18px;
}
/* /powerful */
/* hub-spot */
.hub-spot {
    width: calc(66% - 30px);
    margin-top: 85px;
    margin-left: 6px;
    padding: 35px;
    background-color: white;
    border-radius: 4px;
    transition: transform 0.5s;
}

.hub-spot:hover {
    transform: scale(1.02);
}

.hub-spot img {
    float: left;
    padding-top: 9px;
}

.hub-spot h3 {
    color: #33475b;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    padding-top: 8px;
}

.hub-spot p {
    font-size: 14px;
    color: #33475b;
    margin-bottom: 30px;
}

.hub-spot h4 {
    float: left;
    color: #33475b;
    text-transform: uppercase;
    font-size: 12px;
}

.hub-spot hr {
    float: left;
    width: 75%;
    margin-top: 8px;
    margin-left: 10px;
}

.hub-spot ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    color: #33475b;
    font-size: 14px;
}

.hub-spot ul li i {
    color: #FF7A59;
    padding-right: 10px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    padding: 10px 60px;
    margin-left: 55px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 17px;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: rgba(255, 122, 89, 0.5);
}
/* /hubspot */
/* /content top */
/* content bottom */
.content-bottom {
    margin-top: 25px;
}

#second-box {
    margin: 0px 20px;
}

.content-bottom-box {
    padding: 30px;
    padding-bottom: 50px;
    width: calc(33% - 14px);
    background-color: white;
    float: left;
    transition: transform 0.5s;
    margin-bottom: 70px;
    border-radius: 4px;
}

.content-bottom-box:hover {
    transform: scale(1.02);
}


.content-bottom-box img {
    float: left;
    margin-right: 20px;
    margin-top: 24px;
}

.content-bottom-box h4 {
    float: left;
    font-size: 22px;
    color: #33475b;
    margin-top: 20px;
}

.content-bottom-box p {
    float: left;
    font-size: 13px;
    color: #33475b;
    margin-top: 20px;
}

.content-bottom-box hr {
    float: left;
    width: 100%;
    margin-top: 40px;
}

.content-bottom-box h5 {
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 55%;
    margin-top: 40px;
}

.content-bottom-box ul {
    margin-top: 20px;
    list-style: none;
}

.content-bottom-box ul li {
    font-size: 12px;
}

.content-bottom-box ul li i {
    color: #FF7A59;
    padding-right: 10px;
    margin-top: 18px;
    font-size: 15px;
}

.analytics {
    margin-bottom: 40px;
}

.started {
    margin-left: 16px;
    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    padding: 12px 80px;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    font-size: 17px;
    transition: background-color 0.5s;
}

.started:hover {
    background-color: rgba(255, 122, 89, 0.5);
}
/* /content-bottom */
/* /content */
/* gradient */
.gradient {
    background: rgb(0,171,182);
    background: linear-gradient(90deg, rgba(0,171,182,1) 0%, rgba(0,185,168,1) 100%);
}

.gradient-text {
    text-align: center;
    color: white;
    width: 65%;
    margin: auto;
    padding-top: 150px;
}

.gradient-text h3 {
    font-size: 32px;
    font-weight: bold;
}

.gradient-text p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gradient-panel {

}

.panel {
    padding: 10px;
    text-align: center;
    width: 25%;
    float: left;
    color: white;
}

.panel-top {
    padding-top: 60px;
}

.panel img {
    padding-top: 20px;
}


.panel h4 {
    font-size: 50px;
}

.panel p {
    font-size: 17px;
    padding-bottom: 20px;
}

.plus h4::after {
    content: '+';
    font-size: 22px;
    position: absolute;
}

.left-bottom {
    border-right: 0.5px solid white;
}

.centre-bottom {
    border-right: 0.5px solid white;
    border-left: 0.5 solid white;
    border-top: 0.5 solid white;
    margin-bottom: 150px;
}

.left-top {
    border-right: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.centre-top {
    border-bottom: 0.5px solid white;
    border-right: 0.5px solid white;
}

.right-top {
    border-bottom: 0.5px solid white;
}
/* /gradient */
/* last */
.last-top {
    margin-top: 120px;

}

.last-customer {
    width: 35%;
    float: left;
}

.last-customer h3 {
    font-size: 50px;
    color: #33475b;
}

.last-customer p {
    font-size: 22px;
    color: #33475b;
}

.last-customer span {
    font-weight: bold;
    font-size: 24px;
}

.last-brand {
    width: calc(65% - 100px);
    float: left;
    margin-left: 100px;
}

.brand-top div {
    width: 25%;
    height: 100px;
    padding: 25px;
    float: left;
}

.brand-top img {
    width: 100%;
    height: 100%;
}

.brand-bottom div {
    width: 25%;
    height: 100px;
    padding:25px;
    float: left;
}

.brand-bottom img {
    width: 100%;
    height: 100%;
}

#atlassian {
    padding: 17px 0px;
}

#doordash {
    padding: 17px 0px;
}

#g2crowd {
    padding: 10px 0px;
}

#subaru {
    padding: 7px 0px;
}

#wistia {
    padding: 17px 0px;
}

#vmware {
    padding: 13px 0px;
}

.last-bottom {
    margin-top: 150px;
}

.growing {
    width: 46%;
    float: left;
}

.smile {
    width: 35%;
    float: right;
}

.smile img {
    width: 100%
}

.growing h3 {
    font-size: 35px;
    color: #33475b;
}

.growing p {
    margin-top: 25px;
    margin-bottom: 50px;
    color: #33475b;
    font-size: 18px;
}

.growing a {

    text-decoration: none;
    color: white;
    background-color: #ff7a59;
    padding: 25px 35px;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    font-size: 17px;
    transition: background-color 0.5s;
}

.growing a:hover {
    background-color: rgba(255,122, 89, 0.5);
}

#small {
    padding-top: 50px;
    font-size: 13px;
}
/* /last */
/* footer */
footer {
    background-color: #33475b;
    height: 600px;
}
